* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header div {
    height: 70px;
}

#logo {
    width: 50px;
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

#titolo {
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
}