* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0, 0, 0, 0.05);
}

header div {
    height: 70px;
    background-color: white;
}

#logo {
    width: 50px;
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

#titolo {
    display: inline-block;
    font-size: 38px;
    vertical-align: middle;
}

#addtask {
    width: 70px;
    background-color: rgb(99, 159, 249);
    margin-left: 52px;
    color: white;
}

#addsection {
    width: 80px;
    border: 2px solid rgb(169, 166, 166);
    margin-left: 3px;
    color: rgb(169, 166, 166);
}

#box1 {
    height: 55px;
    margin-top: 60px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#box2 {
    height: auto;
    margin-top: 3px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#ultimo {
    margin-bottom: 30px;
}

.box {
    width: 900px;
    background-color: white;
    margin-left: 20%;
}

.minibox {
    height: 30px;
    border-radius: 5px;
    margin-top: 14px;
    display: inline-block;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    padding: 5px;
}

.paragrafo {
    margin-left: 52px;
    padding-top: 30px;
}

.paragrafo div {
    display: inline-block;
    margin-top: 7px;
}

.check {
    height: 18px;
    width: 18px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
}

.family {
    width: auto;
    color: white;
    font-size: 9px;
    padding: 5px 7px;
    border-radius: 7px;
}

.editorial {
    background-color: rgb(99, 159, 249);
}

.q1goals {
    background-color: rgb(145, 45, 239);
}

.recruiting {
    background-color: rgb(29, 195, 29);
}

.mobile {
    background-color: orange;
}

.website {
    background-color: rgb(226, 43, 168);
}

.sales {
    background-color: rgb(206, 255, 47);
}

.yes {
    color: rgb(29, 195, 29);
    border-color: rgb(29, 195, 29);
}

.no {
    color: red;
    border-color: red;
}

